@use "../../styles/base/variables" as *;

.about {
    padding: 9rem 10rem;
    border-top: 1px solid $border;

    &__container {
        max-width: 1400px;
    }

    &__cta {
        display: inline-block;
        padding: 0.8rem 1.5rem;
        border: 1px solid $primary;
        color: $primary;
        text-decoration: none;
        border-radius: 4px;
        transition: 0.3s;

        &:hover {
            background: $primary;
            color: black;
        }
    }

    &__ctas {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 2rem;
        margin-top: 5rem;
    }

    p {
        color: $text-muted;
        line-height: 1.7;
        margin-bottom: 1.5rem;

        strong {
            color: $primary;
        }
    }
}

@media (max-width: 1100px) {
    .about {
        padding: 6rem 4rem;
    }
}

@media (max-width: 900px) {
    .about {
        padding: 3rem 2rem;
    }
}

@media (max-width: 768px) {
    .about {
        &__container {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        &__ctas {
            justify-content: center;
        }
    }
}