@use "../../styles/base/variables" as *;

.about {
    padding: 4rem 3rem;
    border-top: 1px solid $border;
    min-height: 600px;

    &__container {
        max-width: 1400px;
        margin: 0 auto;
        align-items: center;
    }

    &__cta {
        display: inline-block;
        padding: 0.8rem 1.5rem;
        border: 1px solid $primary;
        color: $primary;
        text-decoration: none;
        border-radius: 4px;
        transition: 0.3s;

        &:hover {
            background: $primary;
            color: black;
        }
    }

    p {
        color: $text-muted;
        line-height: 1.7;
        margin-bottom: 1.5rem;

        strong {
            color: $primary;
        }
    }
}

@media (max-width: 768px) {
    .about {
        padding: 3rem 2rem;

        &__container {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
        }
    }
}